<div class="header">
  <h1 class="mainTitle">$pendy</h1>
  <h4 class="subtitle">A Penny Saved Is A Penny Earned</h4>
</div>

<div class="total">

  <h3>Currently Available Funds: {{totalFunds | currency}}</h3>
</div>

<div class="buttonDiv">
  <button mat-button (click)="displayTransaction()">{{buttonText}}</button>
</div>


<div *ngIf="displayTransactionPanel" class="formDiv">
<form [formGroup]="transactionForm" (ngSubmit)="addTransaction()" class="form-inline">
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input type="text"  placeholder="Enter Transaction Name" class="form-control" matInput  id="name" name="name" formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Amount</mat-label>
    <input type="number" placeholder="Enter Transaction Value" class="form-control" matInput formControlName="amount">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Type</mat-label>
    <mat-select class="form-control" matInput formControlName="type">
      <mat-option *ngFor="let transaction of transactions" value={{transaction.id}}>{{transaction.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date"
          class="form-control">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button type="submit" class="btn btn-primary submitButton" [disabled]="!transactionForm.valid">Submit</button>
</form>
</div>


<div *ngIf="transactionRecord[0] == null" class="emptyTableMessage">
  <h3>Enter a Transaction to Get Started!</h3>
</div>

<div class="record" *ngIf="transactionRecord[0] != null">
  <h3 class="tableLabel">Transaction Record</h3>
  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
    </thead>
    <tbody *ngFor="let transaction of transactionRecord">
      <tr>
        <td>{{transaction.name}}</td>
        <td>{{transaction.date | date}}</td>
        <td>{{transaction.type}}</td>
        <td>{{transaction.amount | currency}}</td>
      </tr>
    </tbody>
  </table>
</div> 